<a href="https://colab.research.google.com/github/SergioPedroso/Modelo_de_classificacao_dex_fantastic-sniffle/blob/main/Day_7_Modelo_de_Recomendacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importando bibliotecas

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.options.display.float_format = "{:,.2f}".format

### Importando arquivos

In [28]:
df_order_items = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Slot #6/Day 7/DNC_order_items_dataset.csv",index_col=0)
df_order_reviews = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Slot #6/Day 7/DNC_order_reviews_dataset.csv",index_col=0)
df_orders = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Slot #6/Day 7/DNC_orders_dataset.csv",index_col=0)
df_products = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Slot #6/Day 7/DNC_products_dataset.csv",index_col=0)

In [29]:
df_order_items.head()

                           order_id  ...  price
0  00010242fe8c5a6d1ba2dd792cb16214  ...  58.90
1  00018f77f2f0320c557190d7a144bdd3  ... 239.90
2  000229ec398224ef6ca0657da4fc703e  ... 199.00
3  00024acbcdf0a6daa1e931b038114c75  ...  12.99
4  00042b26cf59d7ce69dfabb4e55b4fd9  ... 199.90

[5 rows x 4 columns]

In [30]:
df_order_reviews.head()

                          review_id  ... review_score
0  7bc2406110b926393aa56f80a40eba40  ...            4
1  80e641a11e56f04c1ad469d5645fdfde  ...            5
2  228ce5500dc1d8e020d8d1322874b6f0  ...            5
3  e64fb393e7b32834bb789ff8bb30750e  ...            5
4  f7c4243c7fe1938f181bec41a392bdeb  ...            5

[5 rows x 3 columns]

In [31]:
df_orders.head()

                           order_id  ... order_status
0  e481f51cbdc54678b7cc49136f2d6af7  ...    delivered
1  53cdb2fc8bc7dce0b6741e2150273451  ...    delivered
2  47770eb9100c2d0c44946d9cf07ec65d  ...    delivered
3  949d5b44dbf5de918fe9c16f97b45f8a  ...    delivered
4  ad21c59c0840e6cb83a9ceb5573f8159  ...    delivered

[5 rows x 3 columns]

In [32]:
df_products.head()

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...            14.00
1  3aa071139cb16b67ca9e5dea641aaa2f  ...            20.00
2  96bd76ec8810374ed1b65e291975717f  ...            15.00
3  cef67bcfe19066a932b7673e239eb23d  ...            26.00
4  9dc1a7de274444849c219cff195d0b71  ...            13.00

[5 rows x 8 columns]

### EDA

In [33]:
print("df_order_items: ",df_order_items.shape)
print("df_order_reviews: ",df_order_reviews.shape)
print("df_orders: ",df_orders.shape)
print("df_products: ",df_products.shape)

df_order_items:  (112650, 4)
df_order_reviews:  (99224, 3)
df_orders:  (99441, 3)
df_products:  (32951, 8)

In [54]:
df_order_items.describe(include='number',percentiles=[.10,.25,.50,.75,.90,.99])

       order_item_id      price
count     112,650.00 112,650.00
mean            1.20     120.65
std             0.71     183.63
min             1.00       0.85
10%             1.00      23.80
25%             1.00      39.90
50%             1.00      74.99
75%             1.00     134.90
90%             2.00     229.80
99%             4.00     890.00
max            21.00   6,735.00

In [34]:
df_products.describe(include='all',percentiles=[.10,.25,.50,.75,.90,.99])

                              product_id  ... product_width_cm
count                              32951  ...        32,949.00
unique                             32951  ...              nan
top     5dfc5bdca7ee27155face9d4e89201ae  ...              nan
freq                                   1  ...              nan
mean                                 NaN  ...            23.20
std                                  NaN  ...            12.08
min                                  NaN  ...             6.00
10%                                  NaN  ...            11.00
25%                                  NaN  ...            15.00
50%                                  NaN  ...            20.00
75%                                  NaN  ...            30.00
90%                                  NaN  ...            40.00
99%                                  NaN  ...            63.00
max                                  NaN  ...           118.00

[14 rows x 8 columns]

In [46]:
print(df_order_items.isnull().sum(),'\n')
print(df_order_reviews.isnull().sum(),'\n')
print(df_orders.isnull().sum(),'\n')
print(df_products.isnull().sum(),'\n')

order_id         0
order_item_id    0
product_id       0
price            0
dtype: int64

review_id       0
order_id        0
review_score    0
dtype: int64

order_id        0
customer_id     0
order_status    0
dtype: int64

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

### Data Cleaning

In [50]:
df_products2 = df_products.dropna(axis=0, how='any')
print(df_products2.isnull().sum(),'\n')

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [62]:
df_order_items_aux = df_order_items.groupby('order_id').agg({
                        'order_item_id':"sum",
                        'product_id':'sum',
                        'price':'mean',
}) 
df_order_items_aux.columns = ['_'.join(col).strip() if col[1] != "" else col[0] for col in df_order_items_aux.columns.values]

In [52]:
df_order_aux = df_order_items.merge(df_order_reviews,how='left',on=['order_id'])

                                order_id  ...  review_score
0       00010242fe8c5a6d1ba2dd792cb16214  ...          5.00
1       00018f77f2f0320c557190d7a144bdd3  ...          4.00
2       000229ec398224ef6ca0657da4fc703e  ...          5.00
3       00024acbcdf0a6daa1e931b038114c75  ...          4.00
4       00042b26cf59d7ce69dfabb4e55b4fd9  ...          5.00
...                                  ...  ...           ...
113309  fffc94f6ce00a00581880bf54a75a037  ...          5.00
113310  fffcd46ef2263f404302a634eb57f7eb  ...          5.00
113311  fffce4705a9662cd70adb13d4a31832d  ...          5.00
113312  fffe18544ffabc95dfada21779c9644f  ...          5.00
113313  fffe41c64501cc87c801fd61db3f6244  ...          5.00

[113314 rows x 6 columns]

In [63]:
df_order_aux.nunique()

order_id         98666
order_item_id       21
product_id       32951
price             5968
review_id        97709
review_score         5
dtype: int64